/*
Custom css for NFI app.
Citations:
  - input, div.outer, #cite and #controls taken from superzip shiny example
    (https://github.com/rstudio/shiny-examples/blob/master/063-superzip-example/styles.css)
*/

input[type="number"] {
  max-width: 80%;
}

/* map container */
div.mapouter {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* map legend */
div.info.legend.leaflet-control{
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

/* NA legend out */
.na_out i {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  opacity: 0.7;
  display: none;
  vertical-align: top;
  /*For IE 7*/
  zoom: 1;
  *display: inline;
}

.circles i {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 4px;
  opacity: 0.7;
  display: inline-block;
  vertical-align: top;
  /*For IE 7*/
  zoom: 1;
  *display: inline;
}

/*
div > i {
  position: relative;
  float: right;
}
*/

/* table container */
div.tableinner {
  position: fixed;
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 50px 50px 50px;
  overflow: auto;
  background-color: #DDDDDD;
}

div.table_container {
  overflow-y: scroll;
}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 25px;
  font-size: 12px;
}

/* debug */
#debug {
  z-index: 1500;
}

/* Controls */
#dataControls {
  /* Appearance */
  /* background-color: #bdc3c7; */
  padding: 0 20px 20px 20px;
  cursor: move;
  border-radius: 8px;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 1s 100ms;
  z-index: 1000;
}
#dataControls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

#infoPanel {
  /* background-color: #bdc3c7; */
  padding: 0 20px 20px 20px;
  cursor: move;
  border-radius: 8px;
  zoom: 0.9;
  z-index: 1500;
}

#tableTabHeader {
  background-color: var(--main-dark-color);
  padding: 6px 10px 6px 10px;
  border-radius: 8px;
  color: var(--main-bg-color);
}

/* modal lg size refactoring */
.modal-body {
  min-height: 600px;
}

#download_table_modal > #shiny-modal > .modal-dialog > .modal-content > .modal-body {
  min-height: 210px;
}

.modal-lg {
  width: 1200px;
}

/* table body */
table.dataTable tbody tr {
  background-color: var(--main-bg-color) !important;
  color: black;
}

/* waiter-waitress css custom */
.waitress-overlay-content {
  top: 5px;
  right: 30%;
}

.progressjs-theme-blueOverlayRadiusWithPercentBar {
  background-color: #E8EAEB;
}

.waiter-overlay-content {
  width: 100%;
  text-align: center;
  height: auto;
  position: relative;
  right: 0%;
  margin-right: 0px;
  top: 0%;
  margin-top: 0px;
}

.waiter-overlay-content > h3 {
  width: 100%;
  left: 0%;
  text-align: center;
  color: #1C1C20;
}
.waiter-overlay-content > p {
  width: 100%;
  left: 0%;
  text-align: center;
  color: #1C1C20;
}

.waiter-overlay {
  top: 0px !important;
  left: 0px !important;
  z-index: 9999 !important;
}

#mod_infoUI-info_plot > .waiter-overlay {
    height: 400px !important;
    width: 598px !important;
    top: 70px !important;
    left: 0px !important;
    background-color: rgb(28, 28, 32) !important;
    position: absolute !important;
    z-index: 9999 !important;
}

.ldBar {
  /*margin-top: 50px;
  left: 30%;*/
  margin: auto;
}

.ldBar-label {
  color: #1C1C20;
}

.timer-loader:not(:required) {
  border: 6px solid #83A24E;
  border-top-color: #83A24E;
  border-top-style: solid;
  border-top-width: 6px;
  border-right-color: #83A24E;
  border-right-style: solid;
  border-right-width: 6px;
  border-bottom-color: #83A24E;
  border-bottom-style: solid;
  border-bottom-width: 6px;
  border-left-color: #83A24E;
  border-left-style: solid;
  border-left-width: 6px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.timer-loader:not(:required)::after {
  background: #83A24E;
}

.timer-loader:not(:required)::before {
  background: #83A24E;
}
